<!-- TODO: should be done in presenter -->
<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>
<% if @game_status == :won %>
  <div class="alert alert-success">
    <%= "Congratulations, you won! The word was #{@game.word}" %>
  </div>
<% end %>
<% if @game_status == :lost %>
  <div class="alert alert-info">
    <%= "You lost! The word was #{@game.word}" if @game_status == :lost %>
  </div>
<% end %>
<p>Word progress: <%= @word_progress.map { |char| char ? char : '_'}.join ' ' %></p>
<p>Bad guesses: <%= @bad_guesses.join ' ' %></p>
<p>Lives left: <%= @lives_left %></p>
<%= render "form" %>

<% content_for :body do %>
  <%= render "keyboard" %>
<% end %>
