<!-- TODO: should be done in presenter -->
<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>
<% if @game_status == :won %>
  <div class="alert alert-success">
    <%= "Congratulations, you won! The word was #{@game.word}" %>
  </div>
<% end %>
<% if @game_status == :lost %>
  <div class="alert alert-info">
    <%= "You lost! The word was #{@game.word}" if @game_status == :lost %>
  </div>
<% end %>
<p>Word progress: <%= @word_progress.map { |char| char ? char : '_'}.join ' ' %></p>
<p>Bad guesses: <%= @bad_guesses.join ' ' %></p>
<p>Lives left: <%= @lives_left %></p>
<%= render "form" %>

<% content_for :body do %>
<div id="keyboard-container">
  <ul id="keyboard">
    <li class="topfiller-2"></li>
                <li class="leftfiller-0"></li>
                <li class="letter"><span>Q</span></li>
                <li class="letter"><span>W</span></li>
                <li class="letter"><span>E</span></li>
                <li class="letter"><span>R</span></li>
                <li class="letter"><span>T</span></li>
                <li class="letter"><span>Y</span></li>
                <li class="letter"><span>U</span></li>
                <li class="letter"><span>I</span></li>
                <li class="letter"><span>O</span></li>
                <li class="letter"><span>P</span></li>
                <li class="rightfiller"></li>
                <li class="leftfiller-5"></li>
                <li class="letter"><span>A</span></li>
                <li class="letter"><span>S</span></li>
                <li class="letter"><span>D</span></li>
                <li class="letter"><span>F</span></li>
                <li class="letter"><span>G</span></li>
                <li class="letter"><span>H</span></li>
                <li class="letter"><span>J</span></li>
                <li class="letter"><span>K</span></li>
                <li class="letter"><span>L</span></li>
                <li class="rightfiller"></li>
                <li class="leftfiller-10"></li>
                <li class="letter"><span>Z</span></li>
                <li class="letter"><span>X</span></li>
                <li class="letter"><span>C</span></li>
                <li class="letter"><span>V</span></li>
                <li class="letter"><span>B</span></li>
                <li class="letter"><span>N</span></li>
                <li class="letter"><span>M</span></li>
                <li class="rightfiller"></li>
              </ul>
            </div>
          <% end %>
