<% if flash[:alert] %>
  <div class='alert alert-danger'>
    <%= flash[:alert] %>
  </div>
<% end %>

<% if @presenter.over? %>
  <% if @presenter.won? %>
    <div class='alert alert-success'>
      Congratulations, you won! The word was <%= @presenter.word_to_guess %>
    </div>
  <% else %>
    <div class='alert alert-info'>
      You lost :( The word was <%= @presenter.word_to_guess %>
    </div>
  <% end %>
<% end %>

<p>Word progress: <%= @presenter.word_progress %> </p>
<p>Bad guesses: <%= @presenter.incorrect_guesses %> </p>
<p>Lives left: <%= @presenter.lives_left %> </p>

<% content_for :body do %>
  <%= render "keyboard" %>
<% end %>
